::selection {
	background: var(--col-accent);
	color: rgba(255, 255, 255, 0.87);
}
::-moz-selection {
	background: var(--col-accent);
	color: rgba(255, 255, 255, 0.87);
}

body {
	font-family: 'Raleway';
	background-color: var(--col-bg);
	color: var(--col-text);
}

main {
	padding: 2em 10%;
}

h1 {
	font-size: 4em;
	text-align: center;
	font-family: 'Playfair Display';
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	margin: 1em auto 2em auto;
}

games {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

input[type='text'] {
	box-sizing: border-box;
	border-radius: var(--radius);
	display: block;
	border: 0;
	font-size: 2.5em;
	margin: 1em auto;
	width: 100%;
	padding: 0.3em 1em;
	text-align: center;
	color: var(--col-text);
	box-shadow: var(--shadow-2);
	transition: var(--time-transition) box-shadow;
}

input[type='text']:hover,
input[type='text']:active {
	box-shadow: var(--shadow-4);
}

input[type='text']::placeholder {
	color: var(--col-text-light);
	user-select: none;
}

#search {
	max-width: 700px;
}
